@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0d0d0f;
}

.custom-bg {
  background-image: url('./images/bg.jpg');
  background-position: center;
  background-size: cover;
  mask-image: linear-gradient(180deg, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(180deg, black 70%, transparent 100%);
}

.sharable-custom-bg {
  background-image: url('./images/bg.jpg');
  background-position: center;
  background-size: cover;
  mask-image: linear-gradient(180deg, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(180deg, black 90%, transparent 100%);
}

.details {
  background-image: url('./images/bg.jpg');
  background-position: center;
  background-size: cover;
}

.slider-image1 {
  background: #0d0d0fe6 url('./images/slider1.jpg');
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  mask-image: linear-gradient(180deg, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(180deg, black 70%, transparent 100%);
}

.no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #a92945;
}

.no-arrow option {
  color: #a92945;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

input[type="date"] {
  color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}